@model IEnumerable<CompanyDemo.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<p>
    <input type="button" class="btn btn-primary" value="Add Department" data-toggle="modal" data-target="#createModal" />
    <button type="button" class="btn btn-primary" id="addEmp">Add Employee</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                <button type="button" class="btn btn-primary" id="showDept">Show Details</button>
            </td>
        </tr>
    }

</table>


<div class="modal" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Employee</h4>
            </div>
            <form class="modal-body form-group">
                <div class="row">
                    <label>Name:</label>
                    <input type="text" id="newDeptName" class="form-control" />
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="createNewDept" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="createEmpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Employee</h4>
            </div>
            <form class="modal-body form-group">
                <div class="row">
                    <label>Name:</label>
                    <input type="text" id="newEmpName" class="form-control" />
                </div>
                <div class="row">
                    <label>Email:</label>
                    <input type="text" id="newEmpEmail" class="form-control" />
                </div>
                <div class="row">
                    <label>Department:</label>
                    <select id="dept">
                        <option value="-1">Select Department</option>
                    </select>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="createNewEmployee" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="createModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                </div>
                <form class="modal-body form-group">
                    <div class="row">
                        <label>Name:</label>
                        <input type="text" id="newDeptName" class="form-control" />
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="createNewDept" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#createNewDept").click(function () {
            addDepartment();
        });

        $("#addEmp").click(function () {
            $.ajax({
                url: "/Department/GetDepartments",
                type: 'GET',
                success: function (res) {
                    $("#dept").empty();

                    if (res.depts != null && res.depts.length > 0) {
                        var appenddata = "";
                        $.each(res.depts)(function (key, value) {
                            appenddata += "<option value = '" + value.Id + " '>" + value.DeptName + " </option>";  
                      //  $("#dept").append($("<option  />").val(value.Id).text(value.DeptName));
                        });
                        $("#dept").html(appenddata);
                    }
                    $("#createEmpModal").modal('open');
                },
                error: function () {
                    swal("Error Occured");
                }
            })
        });

        $("#createNewEmployee").click(function () {
            addEmployee();
        });

    });

    function addDepartment() {
        var dept = {};
        dept.DeptName = $("#newDeptName").val();

        $.ajax({
            url: "/Department/CreateDept",
            data: JSON.stringify(dept),
            dataType: 'JSON',
            contentType: 'application/json',
            type: 'POST',
            success: function (res) {
                $("#createModal").modal('hide');
                if (res == "true")
                    swal("Department Added Successfully!", "success");
                else if (res == "false")
                    swal("Bad Request");
            },
            error: function () {
                swal("Error Occured");
            }
        });

        //   window.location.reload();
    }

    function addEmployee() {
        var emp = {};
        emp.Name = $("#newEmpName").val();
        emp.Email = $("#newEmpEmail").val();
        emp.Department.Id = $("#dept").val();

        $.ajax({
            url: "/Department/CreateEmp",
            data: JSON.stringify(emp),
            dataType: 'JSON',
            contentType: 'application/json',
            type: 'POST',
            success: function (res) {
                $("#createEmpModal").modal('hide');
                if (res == "true")
                    swal("Employee Added Successfully!", "success");
                else if (res == "false")
                    swal("Bad Request");
            },
            error: function () {
                swal("Error Occured");
            }
        });

        //   window.location.reload();
    }

</script>
